/* styles.css */


#background {
  background-color: #F5F5DC;
}

.blockimage {
  border: 5px solid #555;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 50px;
}

.center { 
  padding: 10px 0;
  text-align: center;
}


div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}
.fancyfont {
  font-family: 'Sofia', cursive;
}

.fontnormal, h4, p ,li ,ul {
  font-family: 'Roboto', sans-serif;
}

#contents{
  margin-right: 15% ;
  margin-left: 15% ;
}
header {
  position: fixed;
  width: 100px;
}

header:hover {
  opacity: 0.5;
}

#arrow { 
  height: 10%;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}